{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email   {env.LETS_ENCRYPT_EMAIL}
}
n8n.{$CADDY_HOST} {
    reverse_proxy n8n-app:5678
}
postgres.{$CADDY_HOST} {
    reverse_proxy postgres:5432
}
backups.{$CADDY_HOST} {
    reverse_proxy duplicati:8200
}
