services:
  caddy:
    image: caddy:latest
    container_name: caddy
    env_file:
      - ./caddy/config.ini
      - ./env/caddy_${ENV}.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
    name: "caddy_data"
  caddy_config:
    name: "caddy_config"
