version: '3.8'

services:
  duplicati:
    container_name: duplicati
    image: duplicati/duplicati:latest
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8200:8200"
    volumes:
      - duplicati_data:/data
      - /var/lib/docker/volumes:/volumes-source
      - /home/ricardo:/home-source
    environment:
      - DUPLICATI__WEBSERVICE_ALLOWED_HOSTNAMES=${DUPLICATI__WEBSERVICE_ALLOWED_HOSTNAMES}
      - SETTINGS_ENCRYPTION_KEY=${DUPLICATI_ENCRYPTION_KEY}
      - DUPLICATI__WEBSERVICE_PASSWORD=${DUPLICATI_WEB_UI_PASSWORD}
      - TZ=${TZ}
    networks:
      - web

networks:
  web:
    external: true

volumes:
  duplicati_data:
    name: "duplicati_data"
